<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>小説ブック
    </title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .drop-wrapper {
            background-color:aquamarine;
        }
        .book-panel {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    </style>
</head>
<body>
<div id="app">
    {{ encoding }}
    <div class="drop-wrapper"
    @dragover.stop.prevent="onFileDragover"
    @dragleage.stop.prevent="onFileDragleave"
    @drop.stop.prevent="onFileDrop"
    >
    {{ isLoaded ? '' : 'Drag and drop aozora bunko file'}}
        <div class="book-panel" v-if="isLoaded" >
            <p v-for="line in 30" v-html="bookLines[line]">{{ bookLines[line] }}</p>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'welcome to 小説ブック',
            isDraggingFile: false,
            encoding: 'shift-jis',
            isLoaded: false,
            bookBytes: new ArrayBuffer(),
            titleLines: [],
            infoLines: [],
            bookLines: [],
            character: 0,
            kana: /[\|\u3040-\u309f\u30a0-\u30ff\uff00-\uff9f]/,
            kanji: /[\u4e00-\u9faf\u3400-\u4dbf]/,
        },
        computed:{
            test: function() {
                text = "吾輩《わがはい》は猫である。名前はまだ無い。"
                furigana = /[\|\u3040-\u309f\u30a0-\u30ff\uff00-\uff9f]?([\u4e00-\u9faf\u3400-\u4dbf]+?)《(.+?)》/g
                return text.replace(furigana, '<ruby>$1<rt>$2</rt></ruby>')
            }
        },
        methods: {
            rubify: function(text) {
                // match will give you all results
                // exec needs to be looped through
                // will need to replace things in the end
                furigana = /[\|\u3040-\u309f\u30a0-\u30ff\uff00-\uff9f]?([\u4e00-\u9faf\u3400-\u4dbf]+?)《(.+?)》/g
                return text.replace(furigana, '<ruby>$1<rt>$2</rt></ruby>')

            },
            loadFile: function(bytes) {
                decoder = new TextDecoder(this.encoding, {fatal:true})
                temp = decoder.decode(bytes);
                this.bookLines = temp.split(/\r?\n/)
                for (var i = 0; i < this.bookLines.length; i++) {
                    this.bookLines[i] = this.rubify(this.bookLines[i])
                }
                this.isLoaded = true
            },
            onFileDragover: function(e) {
                this.isDraggingFile = true;
            },
            onFileDragleave: function(e) {
                this.isDraggingFile = false;
            },
            onFileDrop: function(e) {
                this.isDraggingFile = false;
                for (var i = 0; i < e.dataTransfer.files.length; i++) {
                    var file = e.dataTransfer.files[i];
                    reader = new FileReader();
                    reader.readAsArrayBuffer(file);
                    var self = this;
                    reader.onload = function (e) {
                        self.loadFile(reader.result)
                    }
                }
            },
        },
    })
</script>
</body>
</html>